

/* Fonts from our style guide */
@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/Titillium-Semibold.otf'); 
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf'); 
}

.row { margin: 0px;}

/* for review */
#logo { padding: 16px 0px; }

body { font-family: 'Roboto', sans-serif; margin:0px; padding: 0px; width:100%; }

h1, h2 { 
	font-family: 'Titillium Web', sans-serif;
	color: #3C3C3B; }
h3, h4 { 
	font-family: 'Titillium Web', sans-serif;
	color: #4E87A0; }


.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 40px;
}
.navbar { min-height: 40px !important; 
	/*background-image: url("../img/navbar_bg.png"); yuck! but a good indicator */
	background-color: #4E87A0;
	color: #000000;
}

/* Standard nav menu styling */
.navbar-nav li a { 
	color: #575757 !important; 
	padding: 0px; 
	line-height: 32px; 
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}
.navbar-nav li {   width: 130px;  padding-right: 40px; text-align: center; }

@media all and (max-width: 750px) {
	.navbar-nav { margin: 0px -15px;  }
	.navbar-nav li {  width: 100% !important; }
}
.navbar-nav li:before { 	
	content:" "; 
	border: 0 solid transparent;
	border-top: 0px;
	border-right-width: 0px;
	border-left-width: 40px;
	position: absolute;
	top: 100%;
	margin-top: -40px; 
	left: -40px;
}

/* 4 different navbar styles to alternate through */
.navbar-nav li:nth-child(4n+0) { background-color: #ECE81A; }
.navbar-nav li:nth-child(4n+0):before { border-bottom: 40px solid #ECE81A; }

.navbar-nav li:nth-child(4n+1) { background-color: #DE7C00; }
.navbar-nav li:nth-child(4n+1):before { border-bottom: 40px solid #DE7C00; }

.navbar-nav li:nth-child(4n+2) { background-color: #5BC2E7; }
.navbar-nav li:nth-child(4n+2):before { border-bottom: 40px solid #5BC2E7; }

.navbar-nav li:nth-child(4n+3) { background-color: #4E87A0; }
.navbar-nav li:nth-child(4n+3):before { border-bottom: 40px solid #4E87A0; }

/* nav menu highligh */
.navbar-nav li:hover { background-color: #005760; }
.navbar-nav li:hover a { background-color: #005760; color: #e9e9e9 !important;}
.navbar-nav li:hover:before { border-bottom: 40px solid #005760; }




.content-panel { height: 450px; padding: 50px 0px;}




.footer { 
	border:0px;
	width: 100%;
	background: url('../img/footer_bg.png') white no-repeat; /* review - optimize */
	color: #9e9e9e;
	text-align: right;
	padding-top: 260px;
	height: 365px;
	font-size: 10pt;
	margin-bottom: 0px !important;
	
 }

@media all and (max-width: 750px) {
	.footer { 
		padding-top: 160px;
		height: 25px;
		text-align: left;
}
}
.footer a { color: #67799f; }